/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e8f5e9;
    color: #1b5e20;
}

/* HEADER */
header {
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    margin-top: 10px;
    color: #388e3c;
}

/* CONTENU CENTRAL */
.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 25px;
    color: #555;
}

/* BOUTON */
.btn {
    display: inline-block;
    padding: 12px 20px;
    background: #1b5e20;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
}

.btn:hover {
    background: #43a047;
}